HOST=127.0.0.1
PORT=8090
APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=change-me-api-token-salt
ADMIN_JWT_SECRET=change-me-admin-jwt-secret
TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
JWT_SECRET=change-me-jwt-secret

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=wab_infos
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false

# --- Production (serveur) ---
# STRAPI_URL=https://cms.app.wab-infos.com
# SERVER_PROXY=true

STRAPI_URL=http://localhost:8090
REVALIDATION_SECRET=change-me-revalidation-secret
NEXT_PUBLIC_SITE_URL=https://wab-infos.com
NEWSLETTER_SEND_ON_PUBLISH=true
SOCIAL_SEND_ON_PUBLISH=true
PUSH_SEND_ON_PUBLISH=true
