HOST=127.0.0.1
PORT=8090
APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=change-me-api-token-salt
ADMIN_JWT_SECRET=change-me-admin-jwt-secret
TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
JWT_SECRET=change-me-jwt-secret

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=wab_infos
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false

STRAPI_URL=http://localhost:8090
SERVER_PROXY=false
REVALIDATION_SECRET=change-me-revalidation-secret
NEXT_PUBLIC_SITE_URL=http://localhost:3000
