# Copier vers keystore.properties (non versionné) après création du keystore.
# Chemin storeFile relatif au dossier android/

storeFile=wab-infos-release.jks
storePassword=REMPLACER_MOT_DE_PASSE_KEYSTORE
keyAlias=wab-infos
keyPassword=REMPLACER_MOT_DE_PASSE_CLE
